.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: cadetblue;
}

.dialogsItems {
    padding: 10px;
}

.dialog a {
    color: white;
}

.dialog a.active {

}









